
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.App{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #3333;
    padding: 1rem;
    border-radius: .5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.form-controls{
    margin-bottom: 1rem;
}

.form-controls > label{
   display: block;
}

.form-controls > input{
    padding: .4rem 1rem;
    margin-top: .4rem;
    border-radius: .3rem;
    border: #3333;
    font-size: 1rem;
}

.container > button{
    background-color:  rgb(65, 65, 65);
    border: 0;
    color: #fff;
    padding: 10px;
    border-radius: .3rem;
}

.container > button:hover{
    cursor: pointer;
    background-color: rgb(73, 73, 73) ;
}

.result-div{
    overflow-y: auto;
    height: 500px;
    margin-top: 2rem;
}

.result-container{
    background: #3333;
    width: 230px;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: .4rem 1rem;
}

::-webkit-scrollbar {
    display: none;
}


@media screen and (max-width: 600px){
    .App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
}